html {
    font-family: 'Inter', sans-serif;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #FD715E;
    padding: 0.5rem 0;

    flex-direction: row;
}

#logo {
    padding-left: 1rem;

    float: left;
}

#logo img {
    width: 130px;
}

#logo a {
    margin: 0;
    padding: 0;
}

#band {
    margin-top: 6em;
    margin-left: 2em;
}
